@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Inter', sans-serif;
  background-color: #f6f4ef;
}

html.dark body {
  background-color: #1B1F1E;
}
html {
  scroll-behavior: smooth;
}

.typing-cursor::after {
  content: '|';
  display: inline-block;
  animation: blink 0.7s step-end infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}